:root {
    --colorMain: #20202b;
    --colorSecond: brown;
    --colorText: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorMain);
}

a {
    text-decoration: none;
}

header {
    width: calc(100% - 30px);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 100;
}

header#site-header {
    background-color: var(--colorSecond);
    justify-content: space-between;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 200;
}

.profile {
    cursor: pointer;
    height: 80%;
}

header > * {
    height: 100%;
}

header > nav > .icon-hover {
    height: 80%;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    cursor: pointer;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.icon-hover {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    transition: .5s;
    background-color: var(--colorMain);
    border-radius: 50px;
    min-width: 48px;
}

.icon-hover > .icon {
    height: 80%;
}

.icon-hover > .icon > img {
    height: 80%;
    transition-delay: .25s;
    transition: .5s;
}

.icon-hover:hover {
    min-width: 180px;
    background-color: var(--colorText);
}

.icon-hover:hover > .icon > img {
    transform: scale(0);
}

.icon-hover > span {
    position: absolute;
}

.icon-hover .icon-title {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    transform: scale(0);
    color: var(--colorMain);
    transition: .5s;
    transition-delay: 0;
}

.icon-hover:hover .icon-title {
    transform: scale(1);
    transition-delay: .25s;
}

#content {
    width: 100%;
    min-height: calc(100vh - 55px);

}

.content-overlay {
    max-width: 1280px;
    width: clamp(0px, 100%, 1280px);
    margin-left: auto;
    margin-right: auto;
}

.content-overlay-auto {
    margin-left: auto;
    margin-right: auto;
}

.podium {
    margin-top: 55px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.podium > .podium-item {
    flex-basis: calc(66.66% - 55px);
    min-width: 800px;
    flex-grow: 2;
    flex-shrink: 2;
}

.podium-right {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33%);
    width: clamp(420px, 420px, 800px);
    flex-grow: 1;
    flex-shrink: 2;

}

.podium-item > img {
    height: 100%;
    width: 100%;
}

.article-trailer {
    cursor: pointer;
    transition: .5s;
    position: relative;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
}

.article-trailer:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 1);
}

.article-trailer > .article-details {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 25px;
    gap: 5px;
    pointer-events: none;
}


.article-trailer > .article-details > h1 {
    font-weight: bold;
    color: var(--colorText);
    font-size: 3em;
    height: 100%;
}


.article-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.article-tag {
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--colorText);
    background-color: blue;
    font-size: 1em;
    transition: .5s;
    text-decoration: none;
    pointer-events: all;
}

.article-tag:hover {
    background-color: var(--colorText);
    color: black;
}

.article-link {
    width: 100%;
    height: 100%;
    position: absolute;
}

.tunnel {
    width: 100%;
    height: 300px;
    background-color: var(--colorText);
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tunnel-item {
    height: 70%;
    background-color: var(--colorMain);
    aspect-ratio: 1/1;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 1);
    position: relative;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tunnel-item:hover {
    transform: scale(1.1);
}

.tunnel-item > img {
    width: 100%;
    height: 100%;
    transition-delay: .25s;
    transition: .5s;
    object-fit: cover;
}

.tunnel-item:hover > .icon {
    transform: scale(0);
}
.tunnel-tittle {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .2em;
    transform: scale(0);
    color: var(--colorText);
    transition: .5s;
    transition-delay: 0;
    position: absolute;
    pointer-events: none;
}

.tunnel-item:hover > .tunnel-tittle {
    transform: scale(1);
    transition-delay: .25s;
}

.tunnel-item.article-trailer {
    margin: 0;
}

.tunnel-item.article-trailer h1 {
    font-size: 1.8em;
}

.text-center {
    text-align: center;
}

.article-trailer .article-hover {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    transform: scale(0);
    color: var(--colorMain);
    transition: .5s;
    transition-delay: 0;
    position: absolute;
    text-align: center;
    color: var(--colorText);
    font: bold;
    pointer-events: none;
}

.article-trailer .article-no-hover {
    transition: .5s;
    transition-delay: .25s;
}

.article-trailer:hover .article-hover {
    transform: scale(1);
    transition-delay: .25s;
}

.article-trailer:hover .article-no-hover {
    transform: scale(0);
}

.article-trailer .article-popover {
    height: 24px;
    margin-bottom: -29px;
    opacity: 0;
    transition: .5s;
}

.article-trailer:hover .article-popover {
    opacity: 1;
    margin-bottom: 0;
}

.article-trailer .article-popover {
    display: flex;
    align-items: center;
}

.article-author-img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 7px;
}

.article-trailer .article-popover .article-author-name {
    text-decoration: none;
    color: var(--colorText);
    font-weight: bold;
}

.article-trailer .article-popover .article-date {
    text-decoration: none;
    color: var(--colorText);
}

.article-trailer .article-popover .article-date::before {
    width: 0;
    height: 6px;
    margin-right: 7px;
    margin-left: 7px;
    content: '';
    letter-spacing: 0;
    opacity: .2;
    border-left: 2px black solid;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 1590px;
    max-width: 1590px;
}

@media (max-width: 1590px) {
    .articles-list {
        min-width: 1060px;
        max-width: 1060px;
    }
}

@media (max-width: 1060px) {
    .articles-list {
        min-width: 530px;
        max-width: 530px;
    }
}

.articles-list > div {
    min-width: 480px;
    max-width: 480px;
    aspect-ratio: 3/2;
    display: flex;
}

.articles-list .article-trailer > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-center {
    justify-content: center;
    display: flex;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.pagination-number {
    background: var(--colorText);
}

span.pagination-dots, .pagination-number {
    width: 36px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 36px;
    color: var(--colorSecond);
    font-weight: bold;
}

.pagination-number:not(.pagination-current) {
    cursor: pointer;
    transition: .4s;
}

.pagination-number:not(.pagination-current):hover {
    background: var(--colorSecond);
    color: var(--colorText);
}

.pagination-current {
    opacity: .6;
}

span.pagination-dots::before {
    content: "...";
    text-align: center;
    font-size: 1.4rem;
    line-height: 36px;
    width: 36px;
    aspect-ratio: 1/1;
}

.pagination-next::before {
    content: ">";
}

.pagination-prev::before {
    content: "<";
}

header#breadcrumb-header {
    justify-content: center;
    padding: 40px 15px;
    background: #dbdbdb;
    flex-direction: column;
    margin-bottom: 40px;
}

aside#breadcrumb {
    margin-top: 15px;
}

aside#breadcrumb a {
    color: white;
    font-weight: bold;
}

aside#breadcrumb a:not(.active) {
    transition: color .3s cubic-bezier(0.32, 0.74, 0.57, 1);
}

aside#breadcrumb a:not(.active):hover {
    color: var(--colorSecond) !important;
}

aside#breadcrumb a:not(.active)::after {
    content: ">";
    font-weight: bold;
    cursor: default
}

aside#breadcrumb a.active {
    cursor: default;
}

header#breadcrumb-header aside#breadcrumb a.active {
    color: #666666;
}

header#breadcrumb-header aside#breadcrumb a {
    color: black;
}

header#breadcrumb-header h1 {
    margin-top: 15px;
    font-size: 3.2rem;
}

header#breadcrumb-header p {
    font-size: .85rem;
    max-width: 720px;
    margin-top: 20px;
    text-align: center;
}

.category-item {
    background: #666666;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 1);
    position: relative;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-link {
    width: 100%;
    height: 100%;
    position: absolute;
}

.category-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    font-weight: bold;
    color: var(--colorText);
    font-size: 1.4rem;
    width: calc(100% - 30px);
    text-align: center;
    transition: .5s;
    transition-delay: .25s;
}

.category-hover {
    font-size: 1.2em;
    letter-spacing: .1em;
    transform: scale(0);
    color: var(--colorMain);
    position: absolute;
    text-align: center;
    color: var(--colorText);
    font: bold;
    pointer-events: none;
    width: calc(100% - 30px);
    transition: .5s;
    transition-delay: 0;
}

.category-item:hover .category-hover {
    transform: scale(1);
    transition-delay: 0.25s;
}

.category-item:hover .category-details {
    transform: scale(0);
}


.article-trailer .article-hover {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    transform: scale(0);
    color: var(--colorMain);
    transition: .5s;
    transition-delay: 0;
    position: absolute;
    text-align: center;
    color: var(--colorText);
    font: bold;
    pointer-events: none;
}

.article-trailer .article-no-hover {
    transition: .5s;
    transition-delay: .25s;
}

.article-trailer:hover .article-hover {
    transform: scale(1);
    transition-delay: .25s;
}

.article-trailer:hover .article-no-hover {
    transform: scale(0);
}

#subcategories {
    min-width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    aspect-ratio: auto;
    height: auto;
    background: #666666;
    flex-wrap: wrap;
}

#subcategories > a {
    min-height: 40px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: var(--colorText);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 15px 80px;
    transition: .5s;
}

#subcategories > a:hover {
    background: var(--colorSecond);
}

header#article-header {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
}

.parallax {
    position: relative;
    display: block;
    overflow: hidden;
    height: 70vh;
    min-height: 600px;
    width: 100%;
    background-color: #0a0a0a;
}

.parallax-init {
    opacity: 1;
    top: -5%;
    height: 120%;
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
    will-change: transform;
}

.simpleParallax {
    height: 100%;
}

.parallax-init img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    object-fit: cover;
}

.article-header-content {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: var(--colorText) !important;
    width: 100%;
}

.article-header-content h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.article-meta {
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.article-meta a {
    color: var(--colorText);
    text-decoration: none;
}

.article-meta .article-date::before {
    width: 0;
    height: 6px;
    margin-right: 7px;
    margin-left: 7px;
    content: '';
    letter-spacing: 0;
    opacity: .6;
    border-left: 2px black solid;
}

.article-header-content .article-tags {
    margin-bottom: 15px;
}

article > .content-overlay {
    padding: 0 20px;
    display: flex;
    flex-flow: row nowrap;
}

article {
    background-color: white;
}

#main, #sidebar {
    padding: 40px 0;
}

#main {
    flex: 0 0 66.66%;
    width: 66.66%;
    max-width: 66.66%;
}

#sidebar {
    flex: 0 0 33.33%;
    width: 33.33%;
    max-width: 33.33%;
    padding-left: 50px;
    position: sticky;
    top: 60px;
    max-height: calc(100vh - 60px - 80px);
}

.article-section {
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1.35rem;
    line-height: 1.35;
    word-wrap: break-word;
}

.article-section h3 {
    margin-bottom: 15px;
    font-size: 1.7rem;
    line-height: 1.7;
    font-weight: 700;
}

#reaction {
    position: relative;
    display: block;
    margin-top: 40px;
    padding: 30px 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.reaction-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
}

.reaction-content {
    display: flex;
    justify-content: space-between;
}

.reaction-item {
    position: relative;
    flex: 0 0 100px;
    max-width: 100px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
}

.reaction-item-icon {
    width: 55px;
    margin: auto;
    transition: transform .3s cubic-bezier(0.36, 0.8, 0.41, 1);
    transform: scale(1) rotate(0deg);
}

.reaction-item-title {
    margin-top: 5px;
    display: block;
    font-size: 1.2rem;
    line-height: 1.2;
    white-space: nowrap;
}

.reaction-item-count {
    font-size: 1.4rem;
    line-height: 1.5;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, .025);
    border-radius: 5px;
}

.reaction-item:hover .reaction-item-icon{
    transform: scale(1.4) rotate(-20deg);
}

.reaction-item-count.active {
    background-color: #f9d045;
    color: var(--colorText)
}
